
@font-face {
  font-family: "QuickSand";
  src: url("quantum screen assets/Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}

* {
  font-family: "QuickSand", sans-serif; /* Using the custom font */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}

/* ********************************************************************************* */

header {
  display: flex; /* so that all dashboard content icons sab ek row me aaye warna neeche aayega */
  background-image: linear-gradient(rgba(1, 16, 32, 0.8), rgba(1, 18, 37, 0.8)),
    url("quantum screen assets/header pattern image.png");
  padding: 10px;
  align-items: center; /* display-flex is on so align-items vertically center the content */
  justify-content: space-between;
  position: relative;
}
/* .logo{
    align-items: center;
} */

.header-right {
  padding-inline: 6px;
  display: flex;
  align-items: center; /* vertically center the right section */
  gap: 10px;
}

/* header-right has two parts: nav-links and right-icons */
.nav-link {
  color: #3fd28b;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 10px;
  transition: all 500ms;
  font-weight: 500;
  position: relative; /* for the underline effect */
}
.nav-link::after {
  /* ::after is used to create an underline effect, us nav-link ke after me ek div tag (underline-tag) add kr dia */
  content: ""; /* empty content for the pseudo-element */
  position: absolute; /* after me position : absolute likhte h, and uske baad left, bottom, width, height likhte h */
  left: 0;
  bottom: -16px;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  color: white;
}
.nav-link:hover, /* this is hover effect for nav-link */
.nav-link:focus, 
.nav-link.nav-link-active {
  color: white; /* 🔥 makes text white */
}

.nav-link:hover::after, /* this is hover effect for nav-link underline (or nav-link ka after) */
.nav-link:focus::after,
.nav-link.nav-link-active::after {
  transform: scaleX(
    1
  ); /* scale the underline to full width on hover or focus */
}

.hamburger {
  display: none;
  margin: 10px 0;
}

/* 
.nav-wrapper {
  display: flex;
} */
.hamburger-wrapper {
  position: relative;
}
.mobile-nav {
  width: 280px;
  height: 288px;
  display: none;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav-link {
    display: none;
  }
  .hamburger {
    display: inline; /* show the hamburger icon on small screens */
    cursor: pointer;
  }
  .hamburger:hover {
    filter: brightness(0) invert(1);
  }
  .hamburger-wrapper:hover > .mobile-nav {
    display: block;
    position: absolute;
    top: 35px;
    right: 0px;
    z-index: 999;
  }
}

/*  */
.right-icons {
  display: flex;
  align-items: center;
  position: relative; /* for the notification badge */
  gap: 28px; /* space between icons */
}

/* .right-icons has 3 things: icon icon avatar */

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > img {
  font-size: 24px;
  object-fit: contain;
  padding: 12px 0;
}

.badge {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: #2e6dff;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
.badge2 {
  position: absolute;
  top: 0px;
  right: -10px;
  background-color: #ffffff;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.profile {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 80%;
}
/* **** */

.big-card {
  position: relative;
  width: 320px;
  max-height: 450px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

/* .card-scrollable {
  flex-grow: 1;
} */
.small-card {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #3a3a3a;
}

.card-header > div {
  font-size: 12px;
  color: #222222;
  font-weight: 300;
}

.card-content p {
  margin: 5px 0;
  font-weight: 500;
}
.card-content > p {
  font-size: 14px;
}

.attachment {
  display: inline-block;
  font-size: 11px;
  color: #555;
}

.timestamp {
  display: inline-block;
  margin-left: 20%;
  font-size: 11px;
  color: #555;
}

.status-icon {
  width: 18px;
  height: 18px;
}

.card-footer {
  position: sticky; /* relative position to nearest scrolling ancestor*/
  bottom: 0; 
  /*postion:fixed me- viewport ke according position hota h*/
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding: 12px 16px;
  background-color: #f9f9f9;
}

.footer-btn {
  margin: auto;
  background: none;
  border: none;
  color: #35c48e;
  font-weight: bold;
  cursor: pointer;
}

.announcement-dropdown {
  display: none;
  position: absolute; /* dropdown is positioned relative to icon */
  top: 40px; /* adjust as needed */
  right: 0;
  min-width: 250px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* padding-top: 16px; or try 20px if needed */
  /* margin-top: -16px; negative margin to visually align */
}

.icon:hover > .announcement-dropdown {
  display: block;
}
.icon:hover > img {
  filter: brightness(0) invert(1); /* to make the green-colored-image into white */
}
.icon:hover > .badge {
  display: none;
}

/* ********************************************************************************* */

.dashboard-box {
  width: 80%;
  /* max-width: 688px; */
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #eeeeee 0% 0% no-repeat padding-box;
  flex : 1 0 auto;
}

.tab-header {
  display: flex;
  background: #8ddc97 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}

.tab {
  flex: 1;
  padding: 10px;
  height: 42px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.tab.active::after {
  /* ::after is used add a new dynamic div that is to create an underline effect for the active tab */
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  border-bottom: 1px solid black; /* black underline */
}

.tab-text {
  text-align: left;
  font: normal normal medium 16px/20px "Quicksand", sans-serif;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
}

.tab-text-no {
  text-align: left;
  font: normal normal bold 24px/28px "Quicksand", sans-serif;
  color: #222222;
  opacity: 1;
}

.tab-pages {
  font-size: 12px;
}

.tab-page {
  display: none;
}

.tab-page.active {
  display: block;
}

/* ******************************************************************************* */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.course-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  height: 216px;
  padding: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.course-card-header {
  display: flex;
  height: 157px;
  padding-bottom: 20px;
  gap: 20px;
}
.course-card-header-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-image {
  border-radius: 4px;
  object-fit: contain;
}

.course-title h3 {
  margin: 0;
  font-size: 16px;
  padding-right: 40px;
}

.course-title p {
  font-size: 12px;
  color: #555;
}

.favorite {
  margin-left: auto;
  font-size: 19px;
  color: gold;
}

.not-favorite {
  color: #ccc;
}

.expired-tag {
  position: relative;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.course-subtitile {
  font-size: 16px;
  margin-top: 10px;
}

.course-class-info select {
  font-size: 16px;
  margin-bottom: 5px;
  padding: 4px;
  width: 100%;
}

.course-actions {
  display: flex;
  justify-content: space-around;
}

.course-actions img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

/* ****************************************************************** */

.course-sort-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.course-count {
  text-align: left;
  font: normal normal medium 12px/14px;
  letter-spacing: 0px;
  color: #686868;
  opacity: 1;
}
.sort-by {
  text-align: left;
  font: normal normal medium 12px/16px;
  letter-spacing: 0px;
  color: #686868;
  font-size: 12px;
}

.sort-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort-controls select,
.course-subtitle select {
  border: none;
  border-bottom: 1.4px solid #d4d4d4;
  background-color: transparent;
  width: 140px;
  text-align: left;
  font: normal normal medium 16px/20px;
  color: black;
  font: normal normal medium 16px/20px Quicksand;
  font-weight: 500;
}
.sort-arrow {
  color: #1f7a54;
  font-size: 24px;
}

.divider {
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.25;
  margin-top: 4px;
  margin-bottom: 10px;
}

/* *****************************Dropdown of hamburger mobile-view************************************* */

.sidebar {
  width: 260px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  font-family: Arial, sans-serif;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu > li {
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-menu a {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: #1f7a54;
  font-weight: 500;
  cursor: pointer;
}

.sidebar-menu .submenu {
  display: none;
  background-color: #f5f5f5;
}

.sidebar-menu .submenu li a {
  padding: 10px 30px;
  font-weight: 400;
}

.sidebar-menu .has-submenu.open > .submenu {
  display: block;
}
.sidebar-menu .has-submenu.open {
  background-color: #f5f5f5;
}

.arrow {
  float: right;
  transition: transform 0.3s ease;
}

.has-submenu.open .arrow {
  transform: rotate(180deg); /* flip arrow up */
}

.has-submenu > ul,ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ********************************************************************** */

.footer-links{
  display: flex;
  justify-content: center;
}
.footer-links > a {
  font: normal normal medium 14px/18px;
  text-decoration: none;
  color: #1F7A54;
  padding: 4px;
}
.link-divider {
  font: normal normal medium 14px/18px;
  color: #1F7A54;
  padding: 4px;
}
.footer-text{
  background-color: #E0E1E1;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}